# docker-compose.yml
version: '3.8'

services:

  # Backend (NestJS)
  backend:
    image: buffboost-backend-prod:latest
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "3001:3001"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL}
      - JWT_SECRET=${JWT_SECRET}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
    command: node dist/src/main.js

  # Frontend (Next.js)
  frontend:
    image: buffboost-frontend-prod:latest
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=http://backend:3001
    depends_on:
      - backend
    command: node packages/frontend/server.js