services:
  - type: web
    name: buffboost-backend
    runtime: docker
    plan: free
    repo: https://github.com/Inosensey/buffboost
    branch: main
    dockerfilePath: ./Dockerfile.render
    envVars:
      - key: DATABASE_URL
        sync: false 
      - key: JWT_SECRET
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: STRIPE_WEBHOOK_SECRET
        sync: false
      - key: NODE_ENV
        value: production
    healthCheckPath: /health
